CREATE DATABASE InLab5TryThisSchema

GO

USE InLab5TryThisSchema

GO
 
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[StudentName] [varchar](30) NULL,
	[StudentBatch] [int] NULL,
	[CGPA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Students] ([StudentID], [StudentName], [StudentBatch], [CGPA]) VALUES (1, N'Ali', 2013, 2.625)
INSERT [dbo].[Students] ([StudentID], [StudentName], [StudentBatch], [CGPA]) VALUES (2, N'Aysha', 2013, 4)
INSERT [dbo].[Students] ([StudentID], [StudentName], [StudentBatch], [CGPA]) VALUES (3, N'Ahmed', 2013, 2.2)
/****** Object:  Table [dbo].[Instructors]    Script Date: 02/08/2017 16:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Instructors](
	[InstructorID] [int] NOT NULL,
	[InstructorsName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[InstructorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Instructors] ([InstructorID], [InstructorsName]) VALUES (1, N'Zafar')
INSERT [dbo].[Instructors] ([InstructorID], [InstructorsName]) VALUES (2, N'Sadia')
INSERT [dbo].[Instructors] ([InstructorID], [InstructorsName]) VALUES (3, N'Saima')
/****** Object:  Table [dbo].[Courses]    Script Date: 02/08/2017 16:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] NOT NULL,
	[CourseName] [varchar](30) NULL,
	[CourseCreditHours] [int] NULL,
	[InstructorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CourseCreditHours], [InstructorID]) VALUES (1, N'Computer Programming', 3, 1)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CourseCreditHours], [InstructorID]) VALUES (2, N'Computer Organization', 3, 2)
INSERT [dbo].[Courses] ([CourseID], [CourseName], [CourseCreditHours], [InstructorID]) VALUES (3, N'Computer Programming Lab', 1, NULL)
/****** Object:  Table [dbo].[Registration]    Script Date: 02/08/2017 16:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[GPA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Registration] ([StudentID], [CourseID], [GPA]) VALUES (1, 1, 3)
INSERT [dbo].[Registration] ([StudentID], [CourseID], [GPA]) VALUES (1, 3, 3)
INSERT [dbo].[Registration] ([StudentID], [CourseID], [GPA]) VALUES (1, 4, 2)
/****** Object:  ForeignKey [FK__Courses__Instruc__08EA5793]    Script Date: 02/08/2017 16:06:49 ******/
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Instructors] ([InstructorID])
GO
/****** Object:  ForeignKey [FK__Registrat__Cours__0EA330E9]    Script Date: 02/08/2017 16:06:49 ******/
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
/****** Object:  ForeignKey [FK__Registrat__Stude__0DAF0CB0]    Script Date: 02/08/2017 16:06:49 ******/
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO

SELECT * FROM Courses
SELECT * FROM Instructors
SELECT * FROM Registration
SELECT * FROM Students

-- two types of subqueries
-- correlated subquery
-- non correlated subquery
-- nonscalar query
SELECT StudentID from Students
-- noncorrelated subquery in select list
SELECT StudentName,StudentID,
	(SELECT TOP 1 StudentName FROM Students)
 FROM Students
-- noncorrelated subquery in from clause
SELECT*
FROM
	(SELECT StudentName, COurseID, GPA
	FROM
		Students S INNER JOIN Registration R ON R.StudentID=S.StudentID)
as T
-- noncorrelated subquery in where clause
SELECT* FROM Instructors
WHERE InstructorID in (SELECT InstructorID FROM Courses)

-- correlated subquery in select list
--Give name of all the students and there GPA in Database Course,
--shcw null if student has not registered in DB
Select S. StudentName,
	(
Select GPA
	from Registration as R
		inner Join Courses C on R.courseid=C. CourseID
	where R. StudentID=S. StudentID
		and C. CourseName='Database'
	) as [GPA in DB]
from students S

-- correlated subquery in where clause
--Select Names cf all the students with Grade Higher GPA 2 in any course
Select*
from Students S
where exists
(Select *
from
	Registration R
where R.StudentiD=S.StudentID
	and GPA>2)
-- what does exist claude do?
-- it returns true if the subquery returns at least one row

-- correlated subquery in having clause
-- SELECT name and IDs ot all the students with CGPA given in student table not egual to calculated CGPA
SELECT StudentName
FROM Students S left join Registration R on R.StudentID=S.StudentID
	Left join Courses C on C.CourseID=R.CourseID
Group BY studentName, S.StudentID
Having ISNULL(SUM(C.CourseCreditHours*R.GPA) / SUM(C.CourseCreditHours),0)!=
(Select CGPA
from Students S2
where S2.StudentID=S.StudentID )
-- Modify the query given above to, Show name, IDs, Calcuated CGPA and CGPA given in Student table of all the
-- students with CGPA given in student table lesser to calcuated CGPA
SELECT StudentName, S.StudentID,
	ISNULL(SUM(C.CourseCreditHours*R.GPA) / SUM(C.CourseCreditHours),0) as [Calculated CGPA],
	S.CGPA as [CGPA given in Student table] 
FROM Students S left join Registration R on R.StudentID=S.StudentID
	Left join Courses C on C.CourseID=R.CourseID
Group BY studentName, S.studentID, S.CGPA
Having ISNULL(SUM(C.CourseCreditHours*R.GPA) / SUM(C.CourseCreditHours),0)!=
(Select CGPA
from Students S2
where S2.StudentID=S.StudentID )
