USE master
GO
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'Lab7')
DROP DATABASE Lab7
GO
CREATE DATABASE Lab7
GO
USE Lab7
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Items](
	[ItemNo] [int] NOT NULL,
	[Name] [varchar](10) NULL,
	[Price] [int] NULL,
	[Quantity in Store] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Items] ([ItemNo], [Name], [Price], [Quantity in Store]) VALUES (100, N'A', 1000, 100)
INSERT [dbo].[Items] ([ItemNo], [Name], [Price], [Quantity in Store]) VALUES (200, N'B', 2000, 50)
INSERT [dbo].[Items] ([ItemNo], [Name], [Price], [Quantity in Store]) VALUES (300, N'C', 3000, 60)
/****** Object:  Table [dbo].[Courses]    Script Date: 02/17/2017 13:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerNo] [varchar](2) NOT NULL,
	[Name] [varchar](30) NULL,
	[City] [varchar](3) NULL,
	[Phone] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customers] ([CustomerNo], [Name], [City], [Phone]) VALUES (N'C1', N'AHMED ALI', N'LHR', N'111111')
INSERT [dbo].[Customers] ([CustomerNo], [Name], [City], [Phone]) VALUES (N'C2', N'ALI', N'LHR', N'222222')
INSERT [dbo].[Customers] ([CustomerNo], [Name], [City], [Phone]) VALUES (N'C3', N'AYESHA', N'LHR', N'333333')
/****** Object:  Table [dbo].[Order]    Script Date: 02/17/2017 13:04:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[OrderNo] [int] NOT NULL,
	[CustomerNo] [varchar](2) NULL,
	[Date] [date] NULL,
	[Total_Items_Ordered] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Order] ([OrderNo], [CustomerNo], [Date], [Total_Items_Ordered]) VALUES (1, N'C1', CAST(0x7F360B00 AS Date), 30)
INSERT [dbo].[Order] ([OrderNo], [CustomerNo], [Date], [Total_Items_Ordered]) VALUES (2, N'C3', CAST(0x2A3C0B00 AS Date), 5)
INSERT [dbo].[Order] ([OrderNo], [CustomerNo], [Date], [Total_Items_Ordered]) VALUES (3, N'C3', CAST(0x493C0B00 AS Date), 20)
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 02/17/2017 13:04:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderNo] [int] NOT NULL,
	[ItemNo] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC,
	[ItemNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OrderDetails] ([OrderNo], [ItemNo], [Quantity]) VALUES (1, 200, 20)
INSERT [dbo].[OrderDetails] ([OrderNo], [ItemNo], [Quantity]) VALUES (1, 400, 10)
INSERT [dbo].[OrderDetails] ([OrderNo], [ItemNo], [Quantity]) VALUES (2, 200, 5)

GO
/****** Object:  ForeignKey [FK__OrderDeta__ItemN__4316F928]    Script Date: 02/03/2017 13:55:38 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ItemNo])
REFERENCES [dbo].[Items] ([ItemNo])
GO
/****** Object:  ForeignKey [FK__OrderDeta__Order__4222D4EF]    Script Date: 02/03/2017 13:55:38 ******/
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderNo])
REFERENCES [dbo].[Order] ([OrderNo])
GO

-- show all tables
SELECT * FROM Items
SELECT * FROM Customers
SELECT * FROM [Order]
SELECT * FROM OrderDetails

-- 1. Create a stored procedure that takes order number, item number and quantity as input.
-- If quantity of that item present in store is less than ordered quantity. Print a message
-- ‘Only <quantity in store> is present, which is less than your required quantity.’
-- If enough quantity is present in store insert the order detail in order details table and
-- subtract the ordered quantity from quantity in store, for that ordered item. Write it’s
-- execute statement as well.
drop PROCEDURE spOrder
CREATE PROCEDURE spOrder
	@OrderNo int,
	@ItemNo int,
	@Quantity int
AS
BEGIN
	DECLARE @QtyInStore int;
	SELECT @QtyInStore = [Quantity in Store] FROM Items WHERE ItemNo = @ItemNo;
	IF @QtyInStore < @Quantity
		PRINT 'Only ' + CAST(@QtyInStore AS varchar(10)) + ' is present, which is less than your required quantity.'
	ELSE
	BEGIN
		INSERT INTO OrderDetails VALUES (@OrderNo, @ItemNo, @Quantity);
		UPDATE Items SET [Quantity in Store] = [Quantity in Store] - @Quantity WHERE ItemNo = @ItemNo;
	END
END
GO

EXEC spOrder 1, 200, 20

-- 2. You have to create a customer signup stored procedure. It will take all the information of
-- Customer (No, Name City, Phone).
-- At the end of procedure it should return a flag (as output parameter) that should tell the
-- violation of following rules:
-- a. Rule1: It should check that the customer No should be unique, so if any existing
-- user has same user number it should return the Flag as 1.
-- b. Rule 2: City cannot be null, if city is null it should return flag as 2.
-- c. Rule 3: Phone number should be of 6 numbers, if it’s less or more it should flag as
-- 3.
-- d. If all the above rules are satisfied then customer should be inserted, and flag
-- should be returned as 0.
-- Write it’s execute statement as well.
drop PROCEDURE spCustomerSignup
create PROCEDURE spCustomerSignup
	@CustomerNo varchar(2),
	@Name varchar(30),
	@City varchar(3),
	@Phone varchar(11),
	@Flag int OUTPUT
AS
BEGIN
	IF EXISTS (SELECT * FROM Customers WHERE CustomerNo = @CustomerNo)
		SET @Flag = 1
	ELSE IF @City IS NULL
		SET @Flag = 2
	ELSE IF LEN(@Phone) <> 11
		SET @Flag = 3
	ELSE
		BEGIN
			INSERT INTO Customers VALUES (@CustomerNo, @Name, @City, @Phone)
			SET @Flag = 0
		END
END
GO
DECLARE @Flag int
EXEC spCustomerSignup 'C1', 'AHMED ALI', 'LHR', '111111', @Flag = @Flag OUTPUT
SELECT @Flag
-- 3. You have to create a store procedure to cancel an order. It should take customer number
-- and order no as an input, if that customer has placed that order, the order should be
-- deleted and along with that all of its details should also be deleted. If that order number
-- was not placed by that customer, it should print a message ‘Order no <as taken from
-- input> is not of <customerNo><customerName>’. Write it’s execute statement as well.
CREATE PROCEDURE spCancelOrder
	@CustomerNo varchar(2),
	@OrderNo int
AS
BEGIN
	IF EXISTS (SELECT * FROM [Order] WHERE CustomerNo = @CustomerNo AND OrderNo = @OrderNo)
		BEGIN
			DELETE FROM OrderDetails WHERE OrderNo = @OrderNo
			DELETE FROM [Order] WHERE OrderNo = @OrderNo
		END
	ELSE
		PRINT 'Order no ' + CAST(@OrderNo AS varchar(10)) + ' is not of ' + @CustomerNo
END
GO
EXEC spCancelOrder 'C1', 1
-- 4. Every customer gets 1 point on purchase of Rs100. Create a procedure that takes
-- customer name as input and return his total points. Write it’s execute statement as well.
CREATE PROCEDURE spPoints
    @CustomerName varchar(50)
AS
BEGIN
    SELECT SUM(OD.Quantity * I.Price / 100) AS Points
    FROM Customers C 
    JOIN [Order] O ON C.CustomerNo = O.CustomerNo 
    JOIN OrderDetails OD ON O.OrderNo = OD.OrderNo 
    JOIN Items I ON OD.ItemNo = I.ItemNo 
    WHERE C.Name = @CustomerName;
END
GO

EXEC spPoints 'AHMED ALI'
-- 5. Create a stored procedure that calculates the total cost of items in each order. This stored
-- procedure should calculate and store the total cost for each order by multiplying the item
-- price from the "Items" table by the quantity from the "OrderDetails" table and then store
-- the results in a new table or view.
CREATE PROCEDURE spCalculate
AS
BEGIN
    SELECT OD.OrderNo, SUM(OD.Quantity * I.Price) AS TotalCost 
    FROM OrderDetails OD 
    JOIN Items I ON OD.ItemNo = I.ItemNo 
    GROUP BY OD.OrderNo;
END
GO

EXEC spCalculate

-- 6. Create a stored procedure that generates a summary report of the top-selling items. This
-- stored procedure should generate a summary report of the top-selling items based on the
-- total quantity sold from the "OrderDetails" table. It should display the item name,
-- quantity sold, and revenue generated. Hint: Use a view to help with this task.
CREATE PROCEDURE spSummaryTopSelling
AS
BEGIN
    SELECT TOP 10 
        I.Name AS ItemName, 
        SUM(OD.Quantity) AS QuantitySold, 
        SUM(OD.Quantity * I.Price) AS RevenueGenerated
    FROM OrderDetails OD 
    JOIN Items I ON OD.ItemNo = I.ItemNo 
    GROUP BY I.Name 
    ORDER BY SUM(OD.Quantity) DESC;
END
GO

EXEC spSummaryTopSelling