use master
go
drop database OrderSchema
go
Create Database OrderSchema
go
use OrderSchema
go
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Items](
	[ItemNo] [int] NOT NULL,
	[Name] [varchar](10) NULL,
	[Price] [int] NULL,
	[Quantity in Store] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Items] ([ItemNo], [Name], [Price], [Quantity in Store]) VALUES (100, N'A', 1000, 100)
INSERT [dbo].[Items] ([ItemNo], [Name], [Price], [Quantity in Store]) VALUES (200, N'B', 2000, 50)
INSERT [dbo].[Items] ([ItemNo], [Name], [Price], [Quantity in Store]) VALUES (300, N'C', 3000, 60)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerNo] [varchar](2) NOT NULL,
	[Name] [varchar](30) NULL,
	[City] [varchar](3) NULL,
	[Phone] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Customers] ([CustomerNo], [Name], [City], [Phone]) VALUES (N'C1', N'AHMED ALI', N'LHR', N'111111')
INSERT [dbo].[Customers] ([CustomerNo], [Name], [City], [Phone]) VALUES (N'C2', N'ALI', N'LHR', N'222222')
INSERT [dbo].[Customers] ([CustomerNo], [Name], [City], [Phone]) VALUES (N'C3', N'AYESHA', N'LHR', N'333333')

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[OrderNo] [int] NOT NULL,
	[CustomerNo] [varchar](2) NULL,
	[Date] [date] NULL,
	[Total_Items_Ordered] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Order] ([OrderNo], [CustomerNo], [Date], [Total_Items_Ordered]) VALUES (1, N'C1', CAST(0x7F360B00 AS Date), 30)
INSERT [dbo].[Order] ([OrderNo], [CustomerNo], [Date], [Total_Items_Ordered]) VALUES (2, N'C3', CAST(0x2A3C0B00 AS Date), 5)
INSERT [dbo].[Order] ([OrderNo], [CustomerNo], [Date], [Total_Items_Ordered]) VALUES (3, N'C3', CAST(0x493C0B00 AS Date), 20)

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderNo] [int] NOT NULL,
	[ItemNo] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC,
	[ItemNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OrderDetails] ([OrderNo], [ItemNo], [Quantity]) VALUES (1, 200, 20)
INSERT [dbo].[OrderDetails] ([OrderNo], [ItemNo], [Quantity]) VALUES (1, 400, 10)
INSERT [dbo].[OrderDetails] ([OrderNo], [ItemNo], [Quantity]) VALUES (2, 200, 5)

GO

ALTER TABLE [dbo].[OrderDetails]  ADD FOREIGN KEY([ItemNo])
REFERENCES [dbo].[Items] ([ItemNo]) on delete cascade on update cascade
GO

ALTER TABLE [dbo].[OrderDetails]   ADD FOREIGN KEY([OrderNo]) 
REFERENCES [dbo].[Order] ([OrderNo]) on delete cascade on update cascade
GO

-- Note: For Delete Triggers, assume that only one row is deleted in one delete statement.
-- 1. Create an instead-of-delete trigger which does not allow deleting a customer who has made at least 1 order.
CREATE TRIGGER [dbo].[trg_no_delete_customer]
 ON [dbo].[Customers]
 INSTEAD OF DELETE
AS
BEGIN
	IF EXISTS (SELECT * FROM 
			   DELETED as D
			   INNER JOIN dbo.[Order] as O
			   ON D.CustomerNo = O.CustomerNo)
	BEGIN
		PRINT 'Cannot delete customer who has made at least 1 order'
	END
	ELSE
	BEGIN
		DELETE FROM Customers
		where CustomerNo in (SELECT CustomerNo FROM DELETED)
	END
END
GO

DELETE from Customers where CustomerNo = 'C1'
-- 2. Create an instead-of-insert trigger for Order Details which checks whether the quantity in order details is
-- less than or equal to the quantity in store. If the quantity in store is less, simply print some message ‘The
-- required quantity is not available’, and do not insert the record. Otherwise insert the record.
CREATE TRIGGER dbo.[check_quantity_in_store] ON [dbo].[OrderDetails]
INSTEAD OF INSERT
AS
BEGIN
	IF EXISTS (SELECT * FROM 
			   INSERTED as I
			   INNER JOIN dbo.[Items] as IT
			   ON I.ItemNo = IT.ItemNo
			   WHERE I.[Quantity] > IT.[Quantity in Store])
	BEGIN
		PRINT 'The required quantity is not available'
	END
	ELSE
	BEGIN
		INSERT INTO OrderDetails
		SELECT * FROM INSERTED
	END
END
GO

insert into OrderDetails values(4, 400, 20)
-- 3. Create and after-update trigger for OrderDetails which checks whether the quantity that has been updated
-- for the item is available in the store or not. If not, then rollback the update.
CREATE TRIGGER [dbo].[trg_check_quantity_availibility] ON [dbo].[OrderDetails]
AFTER UPDATE
AS
BEGIN
	IF EXISTS (SELECT * FROM 
			   INSERTED as I
			   INNER JOIN dbo.[Items] as IT
			   ON I.ItemNo = IT.ItemNo
			   WHERE I.[Quantity] > IT.[Quantity in Store])
	BEGIN
		ROLLBACK TRANSACTION
	END
END

insert into OrderDetails values(4, 400, 20)

-- 4. Create an after-delete trigger which does not allow deleting any item whose quantity in store is more than
-- 100.
CREATE TRIGGER [dbo].[trg_no_delete_high_quantity_item]
 ON [dbo].[Items]
 AFTER DELETE
AS
BEGIN
	IF EXISTS (SELECT * FROM 
			   DELETED
			   WHERE [Quantity in Store] > 100)
	BEGIN
		PRINT 'Cannot delete item whose quantity in store is more than 100'
	END
END

DELETE from Items where [Quantity in Store] = 400

-- 5. Create an instead-of-insert trigger which checks whether the date of the order being inserted is equal to the
-- current date or not. If it is not, simply replacing the date with the current date.
CREATE TRIGGER [dbo].[trg_replace_date]
 ON [dbo].[Order]
 INSTEAD OF INSERT
AS
BEGIN
    INSERT INTO [Order] (OrderNo, CustomerNo, [Date]) SELECT OrderNo, CustomerNo, CASE WHEN [Date] = CONVERT(date, GETDATE()) THEN [Date] ELSE CONVERT(date, GETDATE()) END FROM inserted;
END

INSERT INTO Order (OrderNo, CustomerNo, [Date]) VALUES (5, 'C5', '2019-11-11')

-- 6. Create an after-insert trigger which does not allow inserting a customer whose any of the fields is null.
CREATE TRIGGER [dbo].[trg_no_null_insert_customer]
 ON [dbo].[Customers]
 AFTER INSERT
AS
BEGIN
	IF EXISTS (SELECT * FROM 
			   INSERTED
			   WHERE CustomerNo IS NULL OR Name IS NULL OR City IS NULL OR Phone IS NULL)
	BEGIN
		PRINT 'Cannot insert customer whose any of the fields is null'
	END
END

INSERT INTO Customers (CustomerNo, Name, City, Phone) VALUES ('C8', 'C6', 'C6', NULL)
-- 7. You have to create a customer Signup procedure; it will take all the information of Customer (No, Name
-- City, Phone).
-- At the end of procedure, it should return a flag (as output parameter) that should tell the violation of
-- following rules:
-- a. Rule1: It should check that the customer No. is unique, so if any existing user has same user
-- number it should return the Flag as 1.
-- b. Rule 2: Phone number should be of 6 digits, if it’s less or more it should return the flag as 3.
-- If both the rules are satisfied then customer should be inserted, and Flag should be returned as 0.
-- Write its Execute Statement as well.
CREATE PROCEDURE CustomerSignup
    @customerno varchar(2), 
    @Name VARCHAR(30), 
    @City VARCHAR(3), 
    @Phone CHAR(11),
    @Flag INT OUTPUT
AS
BEGIN
    -- Rule 1: Check for unique customer number
    IF EXISTS (SELECT 1 FROM Customers WHERE customerno = @customerno)
    BEGIN
        SET @Flag = 1
        RETURN
    END
    
    -- Rule 2: Check for 6-digit phone number
    IF LEN(@Phone) <> 6
    BEGIN
        SET @Flag = 3
        RETURN
    END
    
    -- Insert customer and set flag to 0
    INSERT INTO Customers (customerno, Name, City, Phone) VALUES (@customerno, @Name, @City, @Phone)
    SET @Flag = 0
END


DECLARE @Flag INT
EXEC CustomerSignup @customerno = 'C9', @Name = 'John Smith', @City = 'NYC', @Phone = '123456', @Flag = @Flag OUTPUT
SELECT @Flag as 'Result'

-- for flag = 1
DECLARE @Flag INT
EXEC CustomerSignup @customerno = 'C1', @Name = 'John Smith', @City = 'NYC', @Phone = '12345678', @Flag = @Flag OUTPUT
SELECT @Flag as 'Result'